<%= form_for(@conversation.messages.build) do |f| %>
  <div  class="form-group">
    <%= f.cktext_area :body, :class => "form-control", ckeditor: { language: 'fr'} %>
  </div>
  <%= hidden_field_tag "conversation_id", @conversation.id %>
  <div class="row mt-3">
    <div class="col text-right"><%= submit_tag "Envoyer un message", class: "btn btn-primary text-right" %></div>
  </div>
<% end %>
