.DS_Store
.bundle
log/*.log
tmp/**/*
db/*.sqlite3
doc/api
doc/app
.rvmrc
public/system/*
public/system/**/*
.ruby-version
.sass-cache/
public/assets/
public/exports/
config/database.yml
.byebug_history
.idea/workspace.xml
# Ignore application configuration
/config/application.yml
