<div class="col-md-3 col-lg-2 sidebar-offcanvas pl-0" id="sidebar" role="navigation">
    <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
      <li class="nav-item">
        <%= link_to "Modifier le profil", edit_user_registration_path, class: "nav-link active"%>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Confiance et vérification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Commentaires</a>
      </li>
    </ul>
</div>
