<div class="col-md-3 col-lg-2 sidebar-offcanvas bg-light pl-0" id="sidebar" role="navigation">
    <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
      <li class="nav-item">
        <%= link_to "Mes annonces", listings_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Mes réservations", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Ajouter de nouvelles annonces", new_listing_path, class: "nav-link" %>
      </li>
    </ul>
</div>
