<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to "Mes annonces", listings_path %>
  </li>
  <li class="nav-item">
    <%= link_to "Mes réservations", "#" %>
  </li>
  <li class="nav-item">
    <%= link_to "Ajouter de nouvelles annonces", new_listing_path %>
  </li>
</ul>