<div class="col-md-3 col-lg-2 sidebar-offcanvas pl-0" id="sidebar" role="navigation">
    <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
      <li class="nav-item">
        <%= link_to "Retour", web_listing_path(@listing), class: "nav-link" %>
      </li>
    </ul>
</div>
