<div class="modal fade" id="discountsModal" tabindex="-1" role="dialog" aria-labelledby="discountsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="discountsModalLabel">À propos des réductions en fonction de la durée de la location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>En accordant des réductions hebdomadaires et mensuelles, vous avez la certitude que votre annonce s'affichera dans les résultats de recherche lorsque les personnes souhaitent effectuer des réservations de 7 jours ou plus. Les réductions hebdomadaires concernent les locations de 7 jours ou plus. Les réductions mensuelles concernent les locations de 28 jours ou plus.</p>
        <p>Le prix final dépend du prix par jour et des réductions hebdomadaires/mensuelles. Le prix à la semaine ou au mois est une moyenne du prix par jour (calculé en fonction de votre prix de base) pour les prochains 90 jours.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">J'ai compris</button>
      </div>
    </div>
  </div>
</div>
